html {
    background-image: linear-gradient(to right, pink, purple);
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: "JetBrains Mono", monospace;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th, td {
    border: 2px solid black;
    padding: 8px;
}